<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Triggered phrases</th>
      <th>List size</th>
    </tr>
  </thead>

  <tbody>
    <% person.lists.uniq.each do |list| %>
      <tr>
        <td><%= link_to list.name, list %></td>
        <td>
          <ul>
            <% person.list_inclusions.where(list: list).each do |list_inclusion| %>
              <li>"<%= list_inclusion.matched_text %>" (<%= link_to list_inclusion.trigger.name, list_inclusion.trigger %>)</li>
            <% end %>
          </ul>
        </td>
        <td>names <%= pluralize list.persons.count, 'person' %></td>
      </tr>
    <% end %>
  </tbody>
</table>