<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Editing trigger
      </div>
      <div class="card-block">
        <%= render partial: 'form', locals: { trigger: @trigger } %>
      </div>
    </div>
  </div>
</div>
